body {
  margin: 0;
}

header {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #00c8ea;
  color: white;
  text-align: center;
  font-family: arial;
}

nav {
  margin: 0;
  padding: 0;
}

.container h2 {
  color: #00c8ea;
}

.profil,
.kegiatan,
.register {
  margin: 10px;
  padding: 20px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: beige;
}
/* 
@media only screen and (max-width: 768px) {
  .profil,.kegiatan,.register,.image{}
} */

nav,
a {
  padding-top: 0;
  background-color: #ff7300;
  color: white;
  padding: 7px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 10px;
}

a:hover {
  color: violet;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 30px 50px;
  padding: 10px;
}

.row {
  display: flex;
  margin: 20px;
}

.col-left {
  flex: 75%;
  text-align: center;
  margin: 10px;
}

.col-right {
  /* flex: 25%; */
  /* max-width: 40%; */
  padding-left: 0;
  text-align: center;
}

@media (max-width:1200px) {
  .row {
    flex-direction: column-reverse;
    /* flex: none; */
  }

  .col-right {
    /* flex: 100%; */
    flex: none;
    width: 100%;
  }
}

.col-right ul {
  padding-left: 0;
}

.col-right .col-right {
  width: 100px;
}

.col-right li {
  list-style-type: none;
  padding: 5px 0px;
}

.col-right img {
  width: 150px;
  height: auto;
}

.row-right {
  display: flex;
}

.col {
  flex: 50%;
}

.logo {
  border: solid 1px;
  margin-top: 20px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.register .row {
  display: flex;
}

.register .kanan img {
  height: auto;
}

.register label {
  margin-bottom: 0px;
}

.register h4 {
  margin: 0px;
}

.form-control input,
select,
option {
  width: 100%;
  border: 10px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16;
}

.cursor,
#daftar {
  cursor: pointer;
}

.register {
  padding: 20px;
  background-color: wheat;
}

#daftar {
  background-color: #027bfa;
  color: whitesmoke;
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
}
aside {
  float: right;
}

@media screen and(max-width: 768px) {
  aside {
    float: none;
    text-align: center;
  }

  nav ul {
    text-align: center;
    margin-top: 20px;
  }
}
